.App{
  margin: 0 auto;
}

.center{
  margin: 0 auto;
}

body{
  background: lightyellow;   
  font-family: 'Source Sans Pro', sans-serif ;
  font-size: 55px;
  
}

.app-title{
  text-align: center;
  color: powderblue;
  font-size: 75px;
  font-family: 'Sofia';
}
.App-sender{
  padding: 10px;
  margin: 30px;
  border: 5px solid powderblue;
  border-radius: 25px;
  font-weight: 900;
  background: #282c34;
}

input{    
  padding: 7px;
  margin: 4px 2px;    
}

.aboutlink{  
  color: #282c34;
  cursor: pointer;
}
.button{
  background-color: white; /* Green */
  border: 3px solid powderblue;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  color: powderblue;
  padding: 10px 3px;
  text-align: center;
  text-decoration: none;  
  font-size: 20px;
  cursor: pointer;
  font-weight: 900;
  margin: 10px 5px; 
  outline:none; 
}

.left {
  left: 0;
  width:50%;
  display: inline-block;
  color: #282c34;
  cursor: pointer;
  font-family: 'Sofia';
  font-size: 15px;
}

.right {
  right: 0;
  width:50%;
  display: inline-block;
  color: #282c34;
  cursor: pointer;
  font-family: 'Sofia';
  font-size: 15px;
}


